* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0%;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

main {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #3e2723;
    color: white;
}

nav {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    text-align: left;
    
}

.Hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #f5f0eb;
}

button {
    padding: 10px 20px;
    background-color: #3e2723;
    color: white;
    border: none;
    border-radius: 6px;
}

.features {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.box {
    background-color: #f5f0eb;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: #3e2723;
    color: white;
}